.MainNav {
  background-color: #7aa0bd;
}

.MainNav li {
  padding: 0 0.7rem;
}

.MainNav a {
  color: #fff !important;
}

.MainNav li > a:hover {
  text-decoration: none;
}

.MainNav li > .active {
  font-weight: bold;
}

.MainNav .dropdown-menu a.nav-link {
  color: #7aa0bd !important;
}

.MainNav .dropdown-item:active {
  background-color: transparent !important;
}
